html {
  box-sizing: border-box;
}

#display > textarea {
  width: 300px;
  margin: 30px auto 10px;
  display: block;
}

#info {
  display: block;
  color: red;
  text-align: center;
  height: 20px;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 300px;
  margin: 0 auto;
}
